html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.top {
  background-image: url("the-flatiron-building.png");
  color: white;
}

h1  {
  font-size: 70px;
  font-weight: bold;
}

a {
  font-size: 18px;
  color: white;
}

h2  {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.footer {
  background-color: dimgray;
  text-align: left;
}

#id {
  font-size: 11px;
}
